<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="SEOTools Test Suite">
            <directory suffix="Test.php">tests</directory>
            <exclude>./tests/SEOTools/BaseTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
